<!-- <form (submit)="addTODO($event)">
    <input type="text" name="inputData"/>
    <button>ADD</button>
 </form>
 <p>{{this.error}}</p>
 <div *ngFor="let i of this.arr">
  <label>{{i}}</label>
    <button (click)="remove(i)">X</button>
 </div>
 <hr>
<app-student [myInputMsg]="myInputMsgParent" (myOutput)="getChildData($event)"></app-student> -->


<div>
  <app-javascript></app-javascript>
  <hr> 
  <app-angular></app-angular>
  <hr> 
  <p appHighlight [highlightColor]="color">This is paragraph</p>
<app-c1></app-c1>
<app-c2></app-c2>
</div>